<div class="emp-table">
  <div class="flex">
      <h1 align="center">EMPLOYEE DETAILS</h1>
      <div class="sort-section">
      <p>Sort By:</p>
      <select [(ngModel)]="selectedSortKey" (change)="sortEmployees()">
        <option value="">--Select--</option>
        <option value="_id">ID</option>
        <option value="firstname">Firstname</option>
        <option value="lastname">Lastname</option>
        <option value="email">Email</option>
        <option value="joiningDate">Joining Date</option>
      </select>
    </div>
  </div>

  <table align="center" border="2px solid black">
    <colgroup>
      <col style="width: 20%;">
      <col style="width: 12.5%;">
      <col style="width: 12.5%;">
      <col style="width: 25%;">
      <col style="width: 15%;">
      <col style="width: 15%;">
      <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Joining Date</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{ emp._id  }}</td>
        <td>{{ emp.firstname }}</td>
        <td>{{ emp.lastname }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.joiningDate }}</td>
        <td>
          <button (click)="deleteEmployee(emp._id)">Delete</button>
        </td>
        <td>
          <a [routerLink]="['/popup',emp._id]">View</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
  
  <button
    *ngFor="let page of [].constructor(totalPages); let i = index"
    [class.active]="currentPage === i + 1"
    (click)="goToPage(i + 1)">
    {{ i + 1 }}
  </button>
  
  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
</div>
</div>
