.nav{
    display: flex;
    justify-content: space-between;
    background-color:teal;
    margin: -8px;
    padding: 15px;
}

.nav h1{
    margin: 0;
    font-size: 40px;
}

nav {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    margin-right: 20px;
}

nav li{
    margin: 15px;
}

nav li a{
    text-decoration: none;
    margin: 0;
    font-size: large;
}

button {
    width: 4rem;
    height: 2rem;
    margin-top: 0.6rem;
    background-color:beige;
    border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 15px;
}

.dropbtn {
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
  color: purple; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  max-width: 120px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
