<ag-grid-angular
  style="width: 100%; height: 400px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  rowSelection="multiple"
  suppressRowClickSelection="true"
  rowMultiSelectWithClick="true"
>
</ag-grid-angular>

<button (click)="deleteSelectedRows()" style="margin-top: 0.5rem;">
  Delete Selected Rows
</button>

<div class="pagination" *ngIf="totalPages.length">
  <button
    *ngFor="let page of totalPages"
    (click)="goToPage(page)"
    [class.active]="page === currentPage">
    {{ page }}
  </button>
</div>
